#trav {
  -webkit-animation: blink 0.01s infinite alternate;
  -moz-animation: blink 0.01s infinite alternate;
  -o-animation: blink 0.01s infinite alternate;
  animation: blink 0.01s infinite alternate;
}
#fade {
  opacity: 0.8;
  color: #ebffff;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 80px #38eeff;
  -webkit-animation: fade 3s infinite alternate;
  -moz-animation: fade 3s infinite alternate;
  -o-animation: fade 3s infinite alternate;
  animation: fade 3s infinite alternate;
}

@-moz-keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@-webkit-keyframes blink {
  45% {
    opacity: 0.5;
  }
}
@-o-keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@-moz-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-webkit-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-o-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
